* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

img {
  display: block;
  max-width: 100%;
}

input {
  font-size: 1rem;
}

button {
  width: 8rem;
  letter-spacing: 0.5;
  height: 2rem;
  border-radius: 0.25rem;
}

button.active {
  background-color: rgb(169, 211, 211);
  cursor: pointer;
}

button.active:hover,
button.active:focus {
  font-weight: 700;
  background-color: rgb(57, 185, 185);
}

.timer {
  display: flex;
  gap: 1rem;
}

.field {
  width: 4rem;
  text-align: center;
  padding-top: 1rem;
}

.value {
  font-size: 2rem;
  font-weight: 500;
}
